<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View All Courses</title>
    	
    	<link rel="stylesheet" type="text/css" th:href="@{/style/main.css}" />
    	
    </head>
    <body>
        <h1>All Courses</h1>
        <table>
				<thead>
					<th>No.</th>
					<th>ID Course</th>
					<th>Course</th>
					<th>SKS</th>
				</thead>
				<tbody>
					<tr th:each="course,iterationStatus: ${courses}">
						<td th:text="${iterationStatus.count}">No.</td>
						<td th:text="${course.idCourse}">ID Course</td>
						<td th:text="${course.nama}">Course</td>
						<td th:text="${course.sks}">SKS</td>
					</tr>
				</tbody>
			</table>
    </body>
</html>
